<form action="/login" method="POST">
  <h3>Admin Login</h3>
  Username: <input type="text" name="session[username]"><br>
  Password: <input type="password" name="session[password]"><br>

  <input type="submit">
</form>
