<div class="artist-container">
  <div class="artist-info">
    <div class="artist-name"><%= @artist.name %></div>
    <div>Average Score: <%= @artist.total_avg %></div>
  </div>
  
  <div class="artist-songs">
  <div>Appears on:</div>
    <% @songs.each do |song| %>
      <div class="artist-song">
        <%= @artist.name %> - <%= song.title %>
      </div>
    <% end %>
  </div>

</div>
