<div class="artist-container row">
  <div class="artist-info col-6">
    <div class="artist-name"><%= @artist.name %></div>
    <div>Average Score: <%= @artist.total_avg %></div>
  </div>

  <div class="artist-songs col-6">
  <div>Appears on:</div>
    <% @songs.each do |song| %>
      <div class="artist-song">
        <%= @artist.name %> - <%= song.title %>
      </div>
    <% end %>
  </div>

</div>
