/* Grid system */

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row {
  margin-bottom: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Layout */

body {
  max-width: 1200px;
  margin: auto;
  color: #444;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  position: relative;
}

.content-wrapper,
.bg-wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.content-wrapper {
  z-index: 1;
}

.bg-wrapper {
  z-index: -1;
}

.sidebar-wrapper {
  height: 90vh;
}

.sidebar-bg-shape {
  width: 90%;
  height: 100%;
}

/* Styles */

a {
  color: #444;
}

header {
  font-family: 'Shrikhand', "serif";
  margin-bottom: 15px;
  font-size: 3.0em;
  font-weight: 600;
}

header a {
  text-decoration: none;
}

.search-bar {
  max-width: 50%;
  margin: 20px auto;
}

.search-bar input {
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

/* Sidebar style */
.sidebar-section {
  width: 90%;
  color: #fff;
}

.sidebar-title {
  font-size: 1.15em;
  text-align: right;
  padding-right: 10px;
}

/* Song list style */

.song-list-box {
  padding: 10px;
}

.song-list-box a {
  text-decoration: none
}

.song-list-box a:hover {
  text-decoration: underline
}

.yachtski {
  font-weight: bold;
  color: #fff;
}


.title {
  font-size: 1.0em;
  font-weight: 400;
}

/* Personnel page style */

.personnel-section {
  margin: 20px 0;
}

.personnel-section-head {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.personnel-credit {
  padding-bottom: 5px;
}

.bullet {
  width: 20px;
  margin-right: 15px;
}

.role {
  text-align: right;
}

/* Song page style */

.media-details {
  margin-top: 20px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.media-details > * {
  margin-bottom: 15px;
}

.yt-embed {
}

.credit-container {
  /*-webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;*/
}

.credits {
  -webkit-column-break-inside: auto;
  page-break-inside: auto;
  break-inside: auto;
}

.section-head {
  margin-top: 15px;
  margin-bottom: -10px;
  font-size: 1.25em;
}

.column-head {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.big-score {
  font-size: 4.0em;
  text-align: center;
}

.yacht-status {
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
}

.score {
  font-size: 1.5em;
  margin-bottom: 0px;
}

.host {
  padding-left: 10px;
}

.score > * {
  padding: 0 0 0 5px;
}

.big-title {
  font-size: 4.0em;
  font-weight: bold;
  margin-bottom: -5px;
}

.artist-credit {
  font-size: 2.0em;
  margin-bottom: 5px;
}

.track-info {
  font-size: 1.25em;
}

/* Album page style */
.album-score-box {
  width: 95%;
}


/* Artist page style */

.artist-container {
  margin-top: 50px;
}

.artist-info {

}

.artist-songs {

}

.artist-name {
  font-size: 3em;
}
