/* Grid system */

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row {
  margin-bottom: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Layout */

body {
  max-width: 1250px;
  margin: auto;
  color: #444;
  font-family: 'Lato', sans-serif;
  padding: 0 15px;
}

.content-wrapper {
  width: 100%;
  position: relative;
}

.sidebar-wrapper {
  height: 87vh;
  padding-right: 25px;
}

.sidebar-bg-shape {
  height: 100%;
}

.main-wrapper {
}

.footer {
  position: relative;
  bottom: 10px;
  text-align: right;
  color: #aaa;
}

.footer a {
  color: #aaa;
}


/* Styles */

a {
  color: #444;
}

.header {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.header a {
  text-decoration: none;
}

.site-name {
  font-family: 'Shrikhand', "serif";
  font-size: 3.0em;
  font-weight: 600;
  float: left;
}

.nav-bar {
  float: right;
  padding-top: 5px;
  text-align: right;
}

.nav-i {
  display: inline-block;
  margin-left: 40px;
}

.nav-i a {
  padding: 5px;
}

.nav-i a:hover {
  background-color: #eee;
  color: #444;
}

.search-bar {
  max-width: 50%;
  margin: 20px auto;
}

.search-bar input {
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}


.q-bar {
  width: 75%;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

.q-btn {
  cursor: pointer
}

::-webkit-input-placeholder { /* Chrome */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #bbb;
  opacity: 1;
}

/* Search page style */

.search-results {
  margin-top: 10px;
}

.results-container {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}

/* Page styles */

.page-header {
  margin-bottom: 28px;
  border-bottom: 1px solid #aaa;
}

.page-section {
  margin-bottom: 35px;
}

.section-title {
  font-size: 1.15em;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.personnel-role {
  font-size: 0.95em;
}

/* Credit list style */

.credits-list {
  margin-top: 5px;
}

.credit {
  padding-bottom: 5px;
}

.bullet {
  width: 20px;
  margin-right: 15px;
}

.personnel-role {
  text-align: right;
}

/* Song list style */

.song-list-box {
  padding: 10px;
}

.song-list-box a {
  text-decoration: none
}

.song-list-box a:hover {
  text-decoration: underline
}

.yachtski {
  font-weight: bold;
  color: #fff;
}


.title {
  font-size: 1.0em;
  font-weight: 400;
}

.yt-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.yt-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Episode page style */
.add-song-btn {
  width: 50%;
}

.song-form-wrapper {
  border: 1px solid #444;
  padding: 10px;
}

.live-score {
  margin-bottom: 25px;
}

/* Song page style */

.big-score {
  font-size: 4.0em;
  text-align: center;
}

.yacht-status {
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
}

.host-scores {
  padding: 0 10px;
}

.score {
  font-size: 1.15em;
  margin-bottom: 0px;
}

.side-score {
  text-align: right;
}

.host {
  padding-left: 10px;
}

.score > * {
  padding: 0 5px 0 5px;
}

.big-title {
  font-size: 4.0em;
  font-weight: bold;
}

.artist-credit {
  font-size: 1.25em;
  padding-bottom: 10px;
}

/* Medium Style */

/*@media screen and (max-width: 910px) {
  .hideable-md {
    visibility: hidden;
    clear: both;
    display: none;
  }
}*/

/* Small Style */

@media screen and (max-width: 911px) {
  body {
    padding: 0 5px;
  }

  .hideable {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .full-width-res {
    width: 100%;
  }

  .big-score {
    font-size: 2.5em;
  }

  .sidebar-wrapper {
    width: 100%;
    padding-right: 0;
    height: 100%;
  }

  .main-wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  /* Header responsive */

  .nav-bar {
    float: none;
    margin: auto;
    padding: none;
    text-align: justify;
  }

  .nav-i {
    margin: none;
  }

  .site-name {
    font-size: 2em;
    float: none;
    text-align: center;
  }

  /* Index responsive */

  .search-bar {
    max-width: 100%;
  }

  /* Index song list responsive */

  .yachtski-column {
    width: 20%;
  }

  .title {
    width: 75%;
  }

  /* Song page responsive */

  .page-header {
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .big-title {
    font-size: 1.85em;
  }

  .artist-credit {
    font-size: 1em;
  }

  .yacht-status {
    font-size: 1em;
  }

  .host-scores {
    font-size: 0.85em;
  }

  .bullet {
    margin-right: 5px;
  }

  .personnel-link {
    width: inherit;
    text-align: left;
  }

  .media-link {
    width: 92%;
    text-align: left;
  }

  .personnel-role {
    float: right;
    width: 50%;
    text-align: right;
    font-size: .75em;
  }

  /* Personnel page responsive */

  .personnel-info {
    text-align: center;
    width:100%;
  }

  .personnel-song-list {
    text-align: left;
  }

  .personnel-credits-list {
    text-align: left;
  }

  .credit-link {
    float: right;
    width: 92%;
  }

  .role-row {
    margin-top: 5px;
    width: 85%;
  }

  /* Album page responsive */

  .album-info {
    width: 100%;
    text-align: center;
  }

  .song-list-section {
    text-align: left;
  }

}
