/* Grid system */

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
    border-right: 1px black solid;
}

.row {
  border: 1px black solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Layout */

body {
  max-width: 1200px;
  margin: auto;
}

.container {
}

/* Styles */

header {
  font-size: 8.0em;
  text-align: center;
}

.title {
  font-size: 1.0em;
  font-weight: 600;
}

.search-bar {
  max-width: 50%;
  margin: 20px auto;
}

.search-bar input {
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

.artist-container {
  margin-top: 50px;
}

.artist-info {

}

.artist-songs {

}

.artist-name {
  font-size: 3em;
}
