<h1>Editing Episode: <%= @episode.number %></h1>

<div class="row">
  <button class="add-song-btn col-1" id="<%= @episode.id %>">Add a song</button>
  <div class="add-song-form col-11">

  </div>
</div>

<%= erb :'songs/_list', locals: {songs: @episode.songs} %>
