<h1>Editing Episode: <%= @episode['number'] %></h1>

<div class="row">
  <div class="col-1">
    <button class="add-song-btn">Add Song</button>
  </div>
  <div class="add-song-form col-11">

  </div>
</div>

<%= erb :'episodes/_list', locals: {songs: @songs} %>
