<div class="content-section">
  <div class="sidebar-title">
    <%= @episode.title %> Tracklist
  </div>
  <div class="personnel-song-list">
      <%= erb :'songs/_list', locals: {songs: @songs} %>
  </div>
</div>
