<div class="row song-form-wrapper">
  <form class="song-form" method="POST" action="/episodes/<%= @episode.id %>/songs">
    <div class="col-4">
      <div class="row">
        <label class="col-2">Title:</label>
        <input class="col-9" type="text" name="song[title]">
      </div>
      <div class="row">
        <label class="col-2">Artist:</label>
        <input class="col-9" type="text" name="song[artist]">
      </div>
      <div class="row">
        <label class="col-2">Year:</label>
        <input class="col-9" type="text" name="song[year]">
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <label class="col-4">JD Score:</label>
        <input class="col-3 score-input" type="number" min="0" max="100" step="0.01" name="song[jd_score]">
      </div>
      <div class="row">
        <label class="col-4">Hunter Score:</label>
        <input class="col-3 score-input" type="number" min="0" max="100" step="0.01" name="song[hunter_score]">
      </div>
      <div class="row">
        <label class="col-4">Steve Score:</label>
        <input class="col-3 score-input" type="number" min="0" max="100" step="0.01" name="song[steve_score]">
      </div>
      <div class="row">
        <label class="col-4">Dave Score:</label>
        <input class="col-3 score-input" type="number" min="0" max="100" step="0.01" name="song[dave_score]">
      </div>
    </div>

    <div class="col-4">
      <div class="row live-score">Yachtski Score: <span class="yachtski-score"></span></div>
      <input class="row" type="submit">
    </div>
  </form>
</div>
