<form id="new-song" method="POST" action="#">
  Title: <input type="text" name="song[title]"><br>
  Artist: <input type="text" name="song[artist]"><br>
  Year: <input type="text" name="song[year]"><br>
  <br>
  JD Score:<input class="score-input" type="number" min="0" max="100" step="0.01" name="song[jd_score]"><br>
  Hunter Score:<input class="score-input" type="number" min="0" max="100" step="0.01" name="song[hunter_score]"><br>
  Steve Score:<input class="score-input" type="number" min="0" max="100" step="0.01" name="song[steve_score]"><br>
  Dave Score:<input class="score-input" type="number" min="0" max="100" step="0.01" name="song[dave_score]"><br>
  <input type="submit">
</form>

<div class="yachtski">Yachtski Score: <span class="yachtski-score"></div></div>
