<div class="row">
  <div class="col-1">Yachtski</div>
  <div class="col-6">Song</div>
  <div class="col-1">JD</div>
  <div class="col-1">Hunter</div>
  <div class="col-1">Steve</div>
  <div class="col-1">Dave</div>
  <div class="col-1">Episode</div>
</div>

<div class="song-list">
  <% songs.each do |song| %>
   <%= erb :'songs/_list_item', locals: {song: song} %>
  <% end %>
</div>
