<% if credits.any? %>
  <div class="credits-list">
    <% credits.sort_by {|credit| credit[:personnel].yachtski}.reverse.each do |credit| %>
    <div class="row credit">
      <div class="yachtski-list-item" style="display:none"><%= credit[:personnel].yachtski %></div>
      <div class="col-1 bullet">&nbsp;</div>
      <div class="col-4 personnel-link">
        <a href="/personnel/<%= credit[:personnel].slug %>"><%= credit[:personnel].name %></a>
      </div>
      <div class="col-7 personnel-role">
        <%= credit[:roles].join(', ') %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
