<%= erb :'songs/_song_info', locals: { song: @song } %>
<br><br>
<div class="edit-section">
  <form class="discog-search-form" action="#">
    <p>Add album / personnel</p>
    <label>Search by:</label><br>
    <select multiple size="3" name="options[]">
      <option selected value="artist">Artist</option>
      <option selected value="title">Title</option>
      <option selected value="year">Year</option>
    </select><br>
    <input type="submit">
  </form>

  <div class="search-results-list">
  </div>
</div>
