<%= erb :'songs/_song_info', locals: { song: @song } %>

<div class="edit-section">
  <button class="add-discog-btn" id="<%= @song.id %>">Add Personnel</button>

  <div class="search-results-list">
  </div>
</div>
