<form id="newSong" method="POST" action="#">
  JD Score:<input type="number" step="0.01" name="jd_score"><br>
  Hunter Score:<input type="number" step="0.01" name="hunter_score"><br>
  Steve Score:<input type="number" step="0.01" name="steve_score"><br>
  Dave Score:<input type="number" step="0.01" name="dave_score"><br>
  <input type="submit">
</form>

<div class="yachtski">Yachtski Score: <span class="score">0.00</div></div>
