<div class="song-checker">
  <form id="song-checker-form" method="POST" action="/songs/search">
    Artist: <input type="text" name="artist"></input><br>
    Title: <input type="text" name="title"></input><br>
    Year: <input type="text" name="year"></input><br>
    <button class="song-checker-btn">Submit</button>
  </form>
</div>
