<div class="row">
  <div class="song-list-box col-1">Yachtski</div>
  <div class="song-list-box col-1">Track</div>
  <div class="song-list-box col-5">Song</div>
  <div class="song-list-box col-1">JD</div>
  <div class="song-list-box col-1">Hunter</div>
  <div class="song-list-box col-1">Steve</div>
  <div class="song-list-box col-1">Dave</div>
  <div class="song-list-box col-1">Ep #</div>
</div>

<div class="song-list">
  <% songs.each do |song| %>
   <%= erb :'albums/_list_item', locals: {song: song} %>
  <% end %>
</div>
