<div class="row">
    <div class="col-3 sidebar-wrapper">
      <div class="sidebar-bg-shape yachtski">
        <div class="yachtski avg" style="display:none"><%= @album['yachtski'] %></div>
        <div class="big-score"><%= @album['yachtski'].round(2) %></div>
        <div class="yacht-status">Average Yachtski</div>
      </div>
    </div>

    <div class="col-9 main-wrapper">

    </div>

  </div>
</div>
