<div class="row album-container">

  <div class="col-4 album-score-box">
    <%= erb :'albums/_score_panel', locals: {album: @album} %>
  </div>

  <div class="col-8 album-info">
    <div class="big-title">
      <%= @album.title %>
    </div>
  </div>

</div>
