<div class="row personnel-container">

  <div class="score-sidebar col-3">
    <div class="score-box">
      <div class="big-score yachtski avg">
        69.25
      </div>
      <div class="yacht-status">Yachtski Average</div>
    </div>
  </div>

  <div class="col-9 personnel-info">
    <div class="big-title"><%= @personnel.name %></div>

    <%= erb :'personnel/_credits', locals: {personnel: @personnel, song_credits: @song_credits, album_credits: @album_credits} %>
  </div>
</div>
