<div class="header">
  <div class="site-name"><a href="/">Yacht Or Nyacht?</a></div>
  <div class="nav-bar">

    <div class="nav-i">
      <a href="http://www.yachtrock.com/" target="_blank">YACHTROCK.COM</a>
    </div>

    <!-- <div class="nav-i">
      <a href="#">MENU</a>
    </div> -->

    <div class="nav-i">
      <%= erb :'site/_search_bar' %>
    </div>

  </div>
</div>
