<header>
  <div class="site-name"><a href="/">Yacht Or Nyacht?</a></div>
  <div class="nav-bar">
    <form action="/search" method="get">
      <input class="q-bar" type="text" name="q" placeholder="Search for a song or person" onfocus="this.placeholder = ''">
      <input class="search-btn" type="image" name="submit" border="0" src="/img/search-btn.png" height="35" width="35">
    </form>
  </div>
</header>
