<div class="q-form">
  <input class="q-bar" type="text" name="q" placeholder="Search...">
  <img class="q-btn" style="vertical-align: bottom" src="/img/search-btn.png" widht="20" height="20" />
</div>
