<form class="q-form" action="/search" method="get">
  <input class="q-bar" type="text" name="q" placeholder="Search for a song or person" onfocus="this.placeholder = ''" />
  <input type="submit" value="Go" />
</form>
