<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Shrikhand" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', <%= ENV['ANALYTICS'] %>, 'auto');
    ga('send', 'pageview');

  </script>

  <meta property="og:image" content="/img/yon_thumb.png" />
  <meta property="og:description"
  content="The home of the Yachtski scale, used by the hosts of the Beyond Yacht Rock podcast to determine whether a song is Yacht Rock or Nyacht Rock." />

  <title>Yacht or Nyacht? <%= "- #{@subtitle}" if @subtitle %></title>
</head>
<body>
  <%= erb :'site/_header' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
